<footer>
    <div id="footer">
        <p>Cameron & Trevor Pizza Co. &copy;</p>
        <p>Est. 2022</p>
        <div id="footer-links">
            <a href="/">Home</a>
            <a href="/order">Order</a>
            <a href="/cart">Cart</a>
        </div>
    </div>
</footer>