<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

<body id="nav-body" onload="highlight_current_page()">
    <nav id="mainNav">
        <ul id="ul-1">
            <div id="img">
                <a href="/"><img src="/assets/logo - c&t.png" id="nav-img"></a>
            </div>
            <div id="items">
                <li class="nav-item"><a href="/" class="nav-links" id="/">Home</a></li>
                <li class="nav-item"><a href="/order" class="nav-links" id="/order">Order</a></li>
                <li class="nav-item"><a href="/cart" class="nav-links" id="/cart">Cart</a></li>
            </div>
        </ul>
    </nav>
</body>