<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home - C&T Pizza</title>
</head>
<%- include('layouts/nav'); -%>
<body>
    <div id="container">
        <div id="content">
            <div id="header-content">
                <h1 id="header-text">C & T Pizza</h1>
                <h2 id="header-text" style="margin-top: 55px;">Cameron & Trevor Pizza Restaurant est. 2022</h2>
            </div>
            <h2>C&T Pizza is the nations leading pizza restuarant, localized in the Glendale, AZ area.</h2>
        <h3>Delivering directly to doors by drone, car, motorcycle, and cruise ship!</h3>
        </div>
    </div>
</body>
<%- include('layouts/footer'); -%>
<%- include('layouts/script'); -%>
</html>